.AdDesigner{
    font-family: sans-serif;
    margin-left: 10px;
}
.AdDesigner h2{
    font-family: 'Caveat', cursive;
    font-size: 50px;
    margin: 10px;
  
}
.AdDesigner h3{
    font-size: 25px;
}

.AdDesigner__box{
    width: 150px;
    border: 4px solid black;
    text-align: center;
    margin: 10px;
    box-shadow: 0 6px 10px 0 grey;
    width: 200px;
    height: 120px;
}

.AdDesigner button{
    background-color: #0e3c7e;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 8px;
    font-size: 16px;
}
.AdDesigner button:disabled {
    background-color: gray;
}

.dark{
    background-color: #222;
    color: #fff;
}

.AdDesigner__box p{
    font-weight: bold;
}
.Flavor{
        font-family: 'Caveat', cursive;
    }
